@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
body {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
}
section {
    display: none;
}
a {
    color: tomato;
    display: inline-block;
}
.spin {
    animation: spin 1s linear 0s infinite forwards;
}
#section-submit fl-button {
    margin-top: 0;
}
#section-images div img {
    background-image: radial-gradient(white, green);
}
footer {
    display: flex;
    justify-content: center;
}
footer span {
    padding: .1em;
}
progress {
    margin-bottom: 1em;
    width: 100%;
}
x-image, img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
